.App Header{
  text-align: center;
  
}
.AddItem {
  margin-left: 500px;
}


.title {
  text-align: center;
  font-family: 'Helvetica'
}
.img-logo {
  width: 150px;
  height: 150px;
  margin-left: 900px;
}

.count {
  margin-left: 250px
}